<div class="love-icon">
    <input type="checkbox" id="like-toggle" />
    <label for="like-toggle" class="heart"> </label>
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <div class="ring"></div>
</div>

<br>

<div class="components-banner">
    <ui>
        <li><a href="/">首页</a></li>
        <li><a href="/books">图书列表</a></li>
    </ui>
</div>